
{% extends 'layout.html' %}

{% block code %}
<h1 class="text-center">Order Confirmation</h1>

<div class="container">
    <h3>Order ID: {{ order.id }}</h3>
    <p>Date Ordered: {{ order.date_ordered }}</p>
    <p>Status: {{ order.status }}</p>
    <h3>Total Price: ${{ total_price }}</h3>

    <h4>Order Items:</h4>
    <ul>
        {% for item in order_items %}
        <li>
            <strong>{{ item.product.name }}</strong><br>
            Price: ${{ item.price }}<br>
            Quantity: {{ item.quantity }}<br>
            Total: ${{ item.total_price }}<br>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
